/* scroll automatico pro  header naa sobrepor os titulos */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

/*////////////////////////////////////////////////////////////////////////////////*/

/*variaveis*/
:root {
    --main-color: #97611f;
    --black: #000000;
    --bg: #010103;
    --border: 0.1rem solid rgba(225, 225, 225, 0.3);
    font-size: 8px;
    --white: #ffffff;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/


/*coisas fixas para o site*/
* {
    margin: 0%;
    padding: 0%;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Montserrat", sans-serif;
}

/*fala o tamanho padrao que uma section deve seguir*/

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

/*////////////////////////////////////////////////////////////////////////////////////*/

/*diz a forma padrao de todos os "btn" (botoes) do site e seu hover*/

.btn {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 2rem;
    white-space: nowrap;
}

.btn:hover {
    letter-spacing: 0.09rem;
}

/*parte que controla a estetica dos titulos no site*/

.title {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 4rem;

}



.title span {
    color: #ffffff;
    text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////////////*/

/*parte por dentro do site padrao*/





/*cabeça do site padrao*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    min-height: 80px;
    background-color: var(--bg);
    margin-top: -1rem;
}


.header section {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}


.header .navbar {
    padding-left: 28rem;
    display: flex;
    align-items: center;
}

/*parte do nav-bar padrao dentro do header*/

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
    display: flex;

}




.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////*/



/*parte da home padrao*/


.home-conteiner {
    position: relative;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.home-conteiner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.ibb.co/KX8pvpC/home-img.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(60%);
    z-index: -1;

}




.contet {
    max-width: 60rem
}

.content h3 {
    color: #ffffff;
    font-size: 5rem;
}

.content p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    padding: 1rem 0rem;
}

.home-conteiner section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*parte sobre do site padrao */

.about .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about .title {
    margin-bottom: 2rem;
}


.about {
    margin-top: -6rem;
    position: relative;
    z-index: 1;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1rem 0rem;
    line-height: 1.8;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #ffffff;

}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*parte do menu padrao*/


.menu .box-container .box:hover {
    background-color: #ffffff;


}

/*fala o "tamanho" da section especifica do menu   */

section .menu {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 800px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/



.menu .box-container .box:hover>* {
    color: black;
}

.menu .box-container {
    background-color: black;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    height: 10rem;
    color: #ffffff;
    padding: 0.5rem, 0rem;
    font-size: 2.5rem;
}

.menu .box-container .box .price {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 0.5rem;
    padding-bottom: 2rem;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 270;
}

.menu .box-container .box:hover>* {
    color: black;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/


/*parte das avaliaçoes do site padrao*/

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 10rem, 5rem;
}


.review .box-container .box .kkkk img {
    padding-top: 3rem;
}

.review .box-container .box .kkkk p {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 4rem;
    line-height: 1.8rem;
    padding-bottom: 3.5rem;
    font-weight: 350;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.review .box-container .box .stars {
    transform: scale(0.6);

}

.review .box-container .box h3 {
    color: #ffffff;
    font-size: 1.7rem;

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*parte do mapa incorporado*/

.mapa {
    display: flex;
    justify-content: center;
    ;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/

/*parte das redes sociais ao final do site*/

.redes-sociais {
    display: flex;
    justify-content: center;

}

.redes-sociais {
    display: flex;
    gap: 2rem;
}

.redes-sociais-midia:hover {
    cursor: pointer;
    transform: scale(1.1);

}

/*///////////////////////////////////////////////////////////////////////////////////////////*/




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*parte da adptaçao do site para resposividade*/



/* Menu suspenso desligado no layaut padrao */


@media (min-width: 1023px) {
    .control-mobile-layouts {
        display: none;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/



/*adapta a home mas apenas a versao responsiva do site (tamblet e mobile) em modo de tela deitado */

@media (max-width: 1022px) and (orientation: landscape) {
    .home-conteiner {
        padding-top: 8rem;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*parte de responsividade adaptando ele inteiro (mobile e tablet)*/


@media (max-width: 1022px) {

    .about .row .content .btn {
        font-size: 2rem !important;
    }

    .about .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .about .row .container-img img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .about .row .content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about .row .content h3 {
        font-size: 1.4rem;
    }

    .about .row .content p {
        font-size: 1rem;
    }

    .about .row .content .btn {
        align-self: center;
        padding: 10px 20px;
        font-size: 1rem;
    }

    /*    parte "home"     */

    .home-conteiner .content {
        transform: scale(0.9);
    }


    /*aq esta a cabeça do site para mobile*/

    .header {
        display: none;
    }

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: var(--bg);
        border-bottom: var(--border);
        min-height: 80px;
        padding: 0 1.5rem;
        margin-top: -1.1rem;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        /* ocupa toda a altura do header */
    }

    /* Logo à esquerda */
    .img-logo-mobile {
        height: 48px;
        object-fit: contain;
        order: 3;
    }

    /* Título centralizado */
    .header-content h1 {
        order: 2;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        flex: 2;
        /* ocupa espaço entre logo e botão */
    }

    /* Botão de menu à direita */
    .hambuger-btn {
        height: 50px;
        cursor: pointer;
        transition: opacity 0.18s ease-in-out;
        opacity: 1;
    }







    /* Menu suspenso escondido/desativado  */

    .mobile-navbar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 98;
        backdrop-filter: blur(2.8px);
        background: rgba(0, 0, 0, 0.3);



    }

    .esconder {
        transform: translateY(-100);
        transition: all 0.2s ease;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;

    }


    .mobile-navbar section {
        position: absolute;
        left: 0rem;
        top: 10.5rem;
        background-color: rgba(0, 0, 0, 0.2);

    }

    .mobile-navbar a {
        color: #ffffff;
        font-weight: 700;
    }


    .mobile-navbar .section-mobile-navbar {

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }



    .mobile-navbar a {
        font-size: 2rem;

    }

    .mobile-navbar a:hover {

        transform: scale(1.1);
    }

    /* Menu suspenso quando esta ativado  */


    .mobile-navbar .active {

        transform: translate(0);
        opacity: 1;
        pointer-events: auto;

    }




}


/*parte da resposividade para tablet (separado do mobile)*/


@media (min-width: 767px) and (max-width: 1023px) {
    .menu .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/